.navbar-brand {
    color: #c62828 !important;
    font-style: italic;
    font-weight: bold; 
  }
.hakkimizda-hover {
  position: relative;
}

.hover-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  font-size: 0.9rem;
  min-width: 250px;
  color: #333;
}

.hakkimizda-hover:hover .hover-box {
  display: block;
}


 
  .btn-outline-success {
    border-color: #c62828;
    color: #c62828;
    transition: box-shadow 0.3s ease;
    outline: none;
  }
  
  .btn-outline-success:hover {
    background-color: transparent; 
    color: #c62828; 
    box-shadow: 0 0 5px rgba(198, 40, 40, 0.5); 
    cursor: pointer;
  }

  .btn-login {
    background-color: transparent;
    color: #333; 
    border: 1px solid #c62828;
    transition: box-shadow 0.3s ease;
    outline: none;
  }
  
  .btn-login:hover {
    background-color: transparent;
    color: #333;
    box-shadow: 0 0 5px rgba(198, 40, 40, 0.4); 
    cursor: pointer;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #c62828; 
    outline: none;
  }
.aktif-link {
  font-weight: bold;
  color: #b02a37 !important;
  border-bottom: 2px solid #b02a37;
}

