<!-- src/app/components/menu-item/menu-item.component.html -->
<!-- <ng-container *ngIf="menuItemsLoaded; else loading">
    <ul *ngIf="menuItems.length > 0; else noItems" class="list-group">
      <li *ngFor="let item of menuItems" class="list-group-item">
        🍽️ {{ item.name }} — {{ item.price }} ₺
        <p *ngIf="item.description">{{ item.description }}</p>
      </li>
    </ul>    //ÇALIŞMA DURUMUNU GÖRMEK İÇİN
  </ng-container>
  
  <ng-template #loading>
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Yükleniyor...</span>
    </div>
  </ng-template>
  
  <ng-template #noItems>
    <div class="alert alert-warning mt-3">Hiç MenuItem bulunamadı.</div>
  </ng-template>
   -->