<h2>Yorumlar</h2>
<table class="table">
  <thead>
    <tr>
      <!--<th>reviewId</th>-->
     <!-- <th>restaurantId</th>-->
      <th>restaurant</th>
      <!--<th>userId</th>-->
      <th>comment</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews" (click)="setCurrentReview(review)">
      <td>{{review.reviewId}}</td>
      <td>{{review.restaurantId}} 
      <td>{{review.restaurant}}</td>
      <td>{{review.userId}}</td>
      <td>{{review.comment}}</td>
      <td>{{review.rating}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="currentReview" class="card mt-4 p-3 border rounded">
  <h3>Seçilen Yorum Detayı</h3>
  <p><strong>Ad:</strong> {{ currentReview.comment }}</p>
  <p><strong>Açıklama:</strong> {{ currentReview.rating }}</p>
  <p><strong>Adres:</strong> {{ currentReview.restaurant }}</p>
  <p><strong>Telefon:</strong> {{ currentReview.reviewId }}</p>  
  <p><strong>Sahip ID:</strong> {{ currentReview.reviewId }}</p>
  <p><strong>Restoran ID:</strong> {{ currentReview.user }}</p>
  <p><strong>Restoran ID:</strong> {{ currentReview.userId }}</p>
</div>
