<!-- <h1>Welcome to {{ title }}</h1>
<p>Hello {{ user }}</p>

<ul>
  <li *ngFor="let product of products">
    {{ product.productName }}
  </li>
</ul> -->
<!-- Logo ve Site Adı -->
<div class="logo-bar">
  <img src="assets/trakyasepeti6.png" alt="Logo" class="logo-img">
  <span class="site-title">Trakya Sepeti</span>
</div>

<div class="container">

  <app-navi></app-navi>

  <div class="row">
    <div class="col-md-3">
      <app-menu></app-menu> <!-- ✅ Menüyü buraya ekledik -->
    </div>

   <div class = "col-md-6"> 
    <app-menuitem></app-menuitem>
   </div>
  
    <div class="col-md-3">
      <app-order></app-order>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
