
<!-- Logo ve Site Adı -->
<div class="logo-bar">
  <img src="assets/trakyasepeti6.png" alt="Logo" class="logo-img">
  <span class="site-title">Trakya Sepeti</span>
</div>

<div class="container">

  <app-navi></app-navi>

  <!-- her sayfada gözükmesin diye -->
  <div *ngIf="!hideLayout" class="row">
    
    <div class="col-md-3">
      <app-menu></app-menu> <!-- ✅ Menüyü buraya ekledik -->
    </div>

   <div class = "col-md-3"> 
    <app-menuitem></app-menuitem>
   </div>
  
   <div class="col-md-2">
   <app-restaurant ></app-restaurant> 
  </div>

  <div class="col-md-2">
    <app-review ></app-review> 
   </div>
 
    <div class="col-md-2">
      <app-order></app-order>

    </div>

  </div>
</div>

<router-outlet></router-outlet>
