
<div class="d-flex align-items-center px-4 py-3" style="background-color: #f8f9fa;">
  <img src="assets/trakyasepeti6.png" alt="Logo" style="height: 64px; width: auto;">
  <h2 class="ms-3 fw-bold text-danger fst-italic">Trakya Sepeti</h2>
</div>

<!-- ORTA BÖLÜM: Login Form -->
<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top: -100px;">
  <main class="form-signin text-center w-100" style="max-width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="loginData.email"
          placeholder="name@example.com"
          required>
        <label for="email">E-Posta</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="loginData.password"
          placeholder="Password"
          required>
        <label for="password">Şifre</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Giriş Yap</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2025</p>
    </form>
  </main>
</div>
